{{!-- {  --}}
{{!-- partials is a sub template, if you're doing something over and over again, write here --}}
<li>
	{{burger_name}}
	{{!-- name is 1st name in table, sleepy is false, but sleep is true (line 12 in index) --}}



	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
{{!-- } --}}