<h1>Burgers, yeah!</h1>



<ul>
    {{#each burgers}}

    {{!-- div here --}}
    <div>

    <li class='item'>{{burger_name}}</li>
    {{#unless devoured}}
    <button class='item-button' data-id={{id}} data-devoured={{devoured}}>Eat</button>
    {{/unless}}
    </div>
        {{!-- make buttons  --}}
    {{!-- style so that  button is on same line as burg name --}}
    {{!-- end div --}}
    {{!-- {{#unless devoured}} --}}
    {{!-- {{> burgers/burger-block devoured=true}} --}}
    {{!-- if you give list item an id (data-name), you can target it with jquery  --}}
    {{!-- {{/unless}} --}}
    {{/each}}
</ul>


<h2>Enter a burger you want to eat and click the button</h2>
<form class="create-form">

    <div class="form-group">
        <input style="margin-left: 80px" type="text" id="ca" name="burger">
    </div>


    <button type="submit">Add Burg</button>
</form>